.gridv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    
    
}
.space{
  margin-bottom: 100px;
}

.gridv > *{
  grid-column: 1/-1;

}
.mgrid-start01{
  grid-column-start: 1;
  grid-column-end: 4;
}


.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 40px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 40px;
  margin-top: 40px;

  &.grid--bg{
   background-color: #2E3441;  
    padding-top: 40px;
    padding-bottom: 40px;

    &.grid--bg .lph2{
      color: white;
    }
  }
}
.grid > *{
  grid-column: 1/-1;

}

@media (min-width: 500px){
    .grid{
        padding: 100px;
      }
      .grid--page{
        padding: 100px;
      }
}

@media (min-width:992px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 50px;
        margin:0 auto;
        margin-top:100px;
        padding: 0px;
        &.grid--bg{  
             padding-top: 100px;
             padding-bottom: 100px;

           }
       
    }
    .grid> *{
        grid-column: 1/-1;
    
    }
    .dgrid-startdalto{
        grid-column-start: 2;
        grid-column-end: 6;
        
    }
    .dgrid-startdaltorow{
      grid-column-start: 4;
      grid-column-end: 7;
    }
    .dgrid-startdalto02{
        
        grid-row-start: 2;
    }
    .dgrid-startdalto03{
        
        grid-row-start: 3;
    }
    .dgrid-startdalto04{
        grid-column-start: 2;
        grid-column-end: 6;
        
    }
    // Section inter

    .dgrid-startint{
        grid-column-start: 2;
        grid-column-end: 7;
        
    }
    .dgrid-startintrow{
      grid-column-start: 4;
      grid-column-end: 7;
    }
    .dgrid-startint02{
        grid-row-start: 2;
    }
    .dgrid-startint03{
        grid-row-start: 3;
    }
    .dgrid-startint04{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    // Section hypo

    .dgrid-starthypo01{
        grid-column-start: 2;
        grid-column-end: 8;
        
        grid-row-start: 1;
    }
    .dgrid-starthyporow{
      grid-column-start: 2;
      grid-column-end: 5;
    }
    .dgrid-starthypo02{ 
        grid-row-start: 2;
    }
    .dgrid-starthypo03{
        grid-row-start: 3;
    }
    .dgrid-starthypo04{
        grid-column-start: 5;
        grid-column-end: 7;
        
        grid-row-start: 4;
    }
    // Section concl
    .dgrid-startconcl00{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
    }
    .dgrid-startconcl02 {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
    }
    .dgrid-startconcl03 {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 3;
    }
    .dgrid-startconclrow{
      grid-column-start: 5;
      grid-column-end: 8;
    }
    .dgrid-endconcl04{
      grid-row-end: 4;
    }

    .dgrid-startconcl04 {
        grid-row-start: 2;
    }
    .dgrid-startconcl05 {
      grid-row-start: 3;
  }
    .dgrid-startmod02{
      grid-column-start: 2;
      grid-column-end: 4;
      
      grid-row-start: 2;
  }
  // extra cond for pages
    .dgrid-startconcl01{
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 1;
    }
    .dgrid-startintrorow01{
      grid-column-start: 2;
      grid-column-end: 5;
    }
    .dgrid-startintrorow02{
      grid-column-start: 4;
      grid-column-end: 8;
    }
    .dgrid-startintro03{
      grid-row-start: 3;
    }
    .dgrid-startintro05{

      grid-row-start: 4;
    }
    .dgrid-startinter02{

      grid-row-start: 2;
    }
    .dgrid-startinter03{
  
      grid-row-start: 4;
    }
    .dgrid-startinter05{
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 4;
    }
    .dgrid-starthypoth{
      grid-column-start: 2;
      grid-column-end: 4; 
     
    }
    .dgrid-starthypothrow{
      grid-column-start: 3;
      grid-column-end: 7;
    }
    .dgrid-starthypoth02{
      grid-row-start: 2;
    }
    .dgrid-starthypoth03{
      grid-row-start: 3;
    }
    .dgrid-starthypoth04{
      grid-row-start: 4;
    }
    .dgrid-starthypoth05{
      grid-row-start: 5;
    }
    .dgrid-starthypoth06{
      grid-row-start: 6;
    }
    .dgrid-starthypoth0702{
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 7;
    }
    .dgrid-starthypoth0703{
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 7;
    }
    .dgrid-starthypoth0704{
      grid-column-start: 4;
      grid-column-end: 4;
      grid-row-start: 7;
    }
    .dgrid-startmod02{
      grid-column-end: 7;
      grid-row-start: 1;
    }
    .dgrid-startmod05{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 4;
    }
    .dgrid-startprserow01{
      grid-column-start: 2;
      grid-column-end: 5;
    }
    .dgrid-startprserow02{
      grid-column-start: 5;
      grid-column-end: 7;
    }
    .dgrid-startprse02{
      grid-row-start: 2;
    }
    .dgrid-startprse03{
      grid-row-start: 3;
    }
    
    .dgrid-startprse04{
      grid-row-start: 4;
    }
    
    .dgrid-startprse05{
      grid-row-start: 5;
    }
    .dgrid-startprse08{
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 5;
    }
    .dgrid-startprse09{
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 6;
    }
    .dgrid-startsewrow{
      grid-column-start: 5;
      grid-column-end: 8;
    }
    .dgrid-startsew01{
      grid-row-start: 1;
    }
    .dgrid-startsew02{
      grid-row-start: 2;
    }
    .dgrid-startsew03{
      grid-row-start: 3;
    }
    .dgrid-startsew04{
      grid-row-start: 4;
    }
    .dgrid-startsew05{
      grid-row-start: 5;
    }
    .dgrid-startsew06{
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 6;
    }
    .dgrid-startsew07{
      grid-row-start: 7;
    }
    .dgrid-startadnrow{
      grid-column-start: 2;
      grid-column-end: 6;
    }
    
    .dgrid-startadn02{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 2;
    }
    .dgrid-startadn03{
      grid-row-start: 3;
    }
    .dgrid-startadn04{
      grid-row-start: 4;
    }
    .dgrid-startadn05{
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 5;
    }
    .dgrid-startadn06{
      grid-column-start: 2;
      grid-column-end: 7;
      
    }
    .dgrid-startcred01{
      grid-column-start: 2;
    }
    .dgrid-startcred02{
      grid-column-start: 3;
      grid-column-end: 6;
    }
    .dgrid-startgsap04{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 3;
    }
    .grid--page{
        width: 90%;
        margin-top: 200px;
        margin-bottom: 200px;
        padding: 0px;
         
      }
      .grid--gap{
        row-gap: 100px;
      } 
}
@media (min-width: 1400px){
    .grid{
        column-gap: 50px;
      }  
      .dgrid-startdalto {
        grid-column-start: 2;
        grid-column-end: 5;
    }
      .dgrid-startmod01{
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 1;
      }     
      .dgrid-startgsap04{
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 3;
        } 
        
}

@media (min-width:1500px){
    .dgrid-startmod02{
        grid-column-end: 6;
      }
      .dgrid-startadn02{
        grid-column-end: 4;
      } 
      .dgrid-startconcl02 {
        grid-column-end: 5;  
    }  
    .dgrid-starthypothrow{
      grid-column-start: 4;
      
    }  
}

@media (min-width:1600px){
    .dgrid-startdalto{
        grid-column-start: 2;
        grid-column-end: 5;
        
    }
    .dgrid-startdalto02{
        grid-column-start: 4;
        grid-column-end: 7;
        
    }
    .dgrid-startdalto03{
        grid-column-start: 4;
        grid-column-end: 6;
        
    }
     
  .dgrid-startconcl01{
    grid-column-end: 5;
  }
  .dgrid-startinter02{
    grid-column-start: 4;
    grid-column-end: 7;
    
  }
  .dgrid-startinter03{
    grid-column-start: 4;
    grid-column-end: 7;
    
  }
}

@media (min-width:2300px){
    .dgrid-startsew06 {
        grid-column-start: 2;
        
    }
}