@import 'utils/variables';
@import 'components/type';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:"titillium-web";
    font-size: 18px;
    line-height: 1.4;
    color: white;
    background-color: #0E1014;
    margin: 0;
    overflow-x: hidden;
}

.page{
  font-size: 20px;
}

.headv {
    width: 100%;
    height: 100vh;
    }
  
    video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: all 2.5s ease;
    }
  
    .text-container {
      width: 100%;
      display: block;
      position: relative;
      bottom: 550px;
      
    }
  
    .title {
    position: relative;
    color: white;
    text-align: center;
    display: block;
    max-width: 900px;
    margin: 0 auto;
    }
  
    .lph1{
      font-family: "larken";  
      font-weight:700;
      font-size: 56px;
      line-height: 1;
      margin: 0;
    }
    .lph2 {
        font-family: "larken";  
        font-weight:400;
        font-size: 32px;
        line-height: 1;
        margin: 0;
        color: #02C8FF;
      }
      .pgh2 {
        font-family: "larken";  
        font-weight:400;
        font-size: 28px;
        line-height: 1;
        margin: 0;
        color: #02C8FF;
      }
  
    .paragrande {
      
      font-size: 26px;
      line-height: 36px;
      margin: 20px 20px 40px 20px;
    }

    .lpp{
        font-size: 18px;
        line-height: 25px;
    }

    .para{
      font-size: 20px;
    }
    .uppercase{
        text-transform: uppercase;
      }

      img{ 
        max-width: 100%;
       
    }
   
    .img-tel{
        max-width: 45%;
        
    }
   
    .img-ph02{
      max-width: 53%;
      
    }
    figcaption{
        font-family:'titillium-web';
        font-size: 10px;
        margin-top: 10px;
      }
      
    .gridv {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      row-gap: 30px;
      
      
  }
  .gridv > *{
    grid-column: 1/-1;
  
  }
  .mgrid-start01{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 40px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 40px;
    margin-top: 40px;

    &.grid--bg{
     background-color: #2E3441;  
      padding-top: 40px;
      padding-bottom: 40px;

      &.grid--bg .lph2{
        color: white;
      }
    }
}
.grid > *{
    grid-column: 1/-1;

}

 .next {
    position: relative;
    display: block;
    padding: 1em 3em 1em 1em;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    box-shadow: inset  0 0 0.1em white;
    width: 130px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.next:hover{
    background-color: #02C8FF;
}
  .next:after, .next:before {
    content: "";
    display: block;
    position: absolute;
    transition: transform 0.5s ease-in-out;
 }
  .next:before {
    top: 50%;
    right: 2.5em;
    width: 1em;
    height: 1em;
    transform-origin: 50% 50%;
    transform: translate(0, -0.5em) rotate(45deg);
    box-shadow: inset -0.2em 0.2em 0 0 white;
    border-radius: 0 0.15em 0 0;
 }
  .next:after {
    top: 50%;
    right: 2.5em;
    width: 2em;
    height: 0.2em;
    transform: translate(0, -0.1em);
    background-color: white;
 }
  .next:hover:before {
    transform: translate(0.5em, -0.5em) rotate(45deg);
 }
  .next:hover:after {
    transform: translate(0.5em, -0.1em);
    
 }

 footer{
    position: relative;
    width: 100%;
    background: #2E3441;
    min-height: 25px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;

}

.footer__small{
  margin-top: 50px;
}

footer .media_logo, footer .extra, footer p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 1px;
}
footer .media_logo li, footer .extra li{
    list-style: none;
}
footer .media_logo li a{
    font-size: 2rem;
    color: white;
    margin: 0 5px;
    display: inline-block;
    transition: 0.5s;
    
}
footer .media_logo li a:hover{
    transform: translateY(-10px);
}
footer .extra li a{
    font-size: 1rem;
    color: white;
    margin: 0 5px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    
}
footer .extra li a:hover{
    opacity: 1;
}
 footer p {
    color: white;
    text-align: center;
    font-size: 0.8em ;
    
}
.imgdwt{
  width: 50px;
  height: 30px;
  fill: white;
}

// Start of normal pages

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  display: flex;
  width: 160px;
}

.logo a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-family: "larken";
  font-size: 20px;
  font-weight: 700;
}



nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "larken";
  background: #2E3441;
}

.nav-links {
  position: absolute;
  transform: translate(-5%, -5%);
  background: #2E3441;
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  color: #ffffff;
  display: block;
  position: relative;
  display: flex;
  padding: 0 0 0 0;
  list-style: none;
}
.nav-links .text {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
 
}
.nav-links .text::before, .nav-links .text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #02C8FF;
  transform-origin: right;
  transition: transform 400ms ease;
  z-index: -1;
  transform: scaleX(0);
}
.nav-links .text:hover::before, .nav-links .text:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.nav-links .text::after {
  z-index: -2;
  filter: blur(30px);
}
.nav-links .text__active {
  color: #02C8FF;
}
.nav-links .text__active:hover {
  color: #fff;
}

a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.5rem;
  transition: all 400ms ease;
}

a:hover {
  color: #02C8FF;
}

.scroll {
  overflow-y: hidden;
}

.burgerm {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 0;
  background-color: transparent;
  border: none;
  max-width: 35px;
}

.js-theme-trigger {
  border: none;
  width: 40px;
  height: 40px;
  background: #2E3441;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 20;
  color: var(--color-text);
}

.contrast-outline {
  width: 80px;
  height: 80px;
}

.iconzero {
  font-size: 0;
}

.burgerm span {
  background-color: white;
  width: 25px;
  height: 2px;
  margin: 3px;
  transition: all 0.3s ease;
  display: inline-block;
}
.list{
  font-size: 16px;
}
.ulist{
  list-style: decimal;
  padding: 0px;
}
.ulist li {
    margin: 30px;
}

@media all and (max-width: 991px) {
  .nav-links {
    position: fixed;
    right: 0;
    height: 92vh;
    top: 65px;
    background-color: #2E3441;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    transform: translateX(100%);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    overflow: hidden;
    z-index: 21;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }
}

  @media (min-width:992px){
    .burgerm {
      display: none;
    }
    img{ 
        max-width: 500px;
    }
    figure .img-cont {
      width: 500px;
      height:320px;
      overflow: hidden;
      cursor: pointer;
      
      &.img-cont--hless{
        height: 280px;
      }
      &.img-cont--hlesser{
        height: 250px;
      }
    }
    
    img {
        width: 100%;
        transition: all 0.2s ease;
      }
    
    img:hover {
          transform: scale(1.2);
        }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 50px;
        margin:0 auto;
        margin-top:100px;

        &.grid--bg{  
             padding-top: 100px;
             padding-bottom: 100px;
           }
    
    }
    .grid> *{
        grid-column: 1/-1;
    
    }
    .dgrid-startdalto{
        grid-column-start: 2;
        grid-column-end: 6;
        
    }
    .dgrid-startdalto02{
        grid-column-start: 5;
        grid-column-end: 7;
        
        grid-row-start: 2;
    }
    .dgrid-startdalto03{
        grid-column-start: 5;
        grid-column-end: 7;
        
        grid-row-start: 3;
    }
    .dgrid-startdalto04{
        grid-column-start: 2;
        grid-column-end: 6;
        
    }
    // Section inter

    .dgrid-startint{
        grid-column-start: 2;
        grid-column-end: 7;
        
    }
    .dgrid-startint02{
        grid-column-start: 4;
        grid-column-end: 7;
        
        grid-row-start: 3;
    }
    .dgrid-startint03{
        grid-column-start: 4;
        grid-column-end: 7;
        
        grid-row-start: 4;
    }
    .dgrid-startint04{
        grid-column-start: 2;
        grid-column-end: 4;
        
        grid-row-start: 3;
    }
    // Section hypo

    .dgrid-starthypo01{
        grid-column-start: 2;
        grid-column-end: 8;
        
        grid-row-start: 1;
    }
    .dgrid-starthypo02{
        grid-column-start: 2;
        grid-column-end: 5;
        
        grid-row-start: 2;
    }
    .dgrid-starthypo03{
        grid-column-start: 2;
        grid-column-end: 5;
        
        grid-row-start: 3;
    }
    .dgrid-starthypo04{
        grid-column-start: 5;
        grid-column-end: 7;
        
        grid-row-start: 4;
    }
    // Section concl
    .dgrid-startconcl02 {
        grid-column-start: 2;
        grid-column-end: 5;
        
        grid-row-start: 2;
    }
    .dgrid-startconcl03 {
        grid-column-start: 2;
        grid-column-end: 7;
        
        grid-row-start: 3;
    }
    .dgrid-startconcl04 {
        grid-column-start: 5;
        grid-column-end: 8;
        
        grid-row-start: 2;
    }
    .dgrid-startmod02{
      grid-column-start: 2;
      grid-column-end: 4;
      
      grid-row-start: 2;
  }
  // extra cond for pages
    .dgrid-startconcl01{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 1;
    }
    .dgrid-startintro03{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 3;
    }
    .dgrid-startintro04{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 3;

    }
    .dgrid-startinter02{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 2;
    }
    .dgrid-startinter03{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 4;
    }
    .text-container {
        bottom: 600px;
        
      }
      .lph1{
        font-size: 93px;
    }
    .lph2{
        font-size: 70px;
    }
    .pgh2{
      font-size: 50px;
    }
    .lpp{
        font-size: 20px;
        line-height: 28px;
    }
    .paragrande{
        font-size: 56px;
        line-height: 78px;
    }
    .para{
      font-size: 31px;
      line-height: 1.4;
    }
    
    figcaption{
        font-size: 15px;
      }
      figure{
        display: flex;
        flex-direction: column;
      }
    .imglp{
        width: 100%;
      }
      .grid--page{
        width: 90%;
        margin-top: 200px;
        margin-bottom: 200px;
      }
     
  }
  @media (min-width: 1400px) {
    .nav-links {
      padding: 0 0 0 0;
      font-size: 18px;
      letter-spacing: 3px;
    }
    .nav-links .text {
      padding: 20px 25px;
    }
  }
  @media (min-width:1500px){
    .text-container {
        bottom: 700px;  
      }
      .logo a {
        font-size: 30px;
      }
  }
  @media (min-width:1600px){
    .dgrid-startdalto{
        grid-column-start: 2;
        grid-column-end: 5;
        
    }
    .dgrid-startdalto02{
        grid-column-start: 4;
        grid-column-end: 6;
        
        grid-row-start: 2;
    }
    .dgrid-startdalto03{
        grid-column-start: 4;
        grid-column-end: 6;
        
        grid-row-start: 3;
    }
    .dgrid-startdalto04{
        grid-column-start: 2;
        grid-column-end: 6;
        
    }
    .dgrid-starthypo01{
      grid-column-start: 3;
     ;
  }
  .dgrid-startconcl01{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  .dgrid-startinter02{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
  }
  .dgrid-startinter03{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
  }
  }

  @media (min-width:2000px){
    .text-container {
        bottom: 800px;
        
      }
  }
