@import 'utils/variables';
@import 'components/type';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:"titillium-web";
    font-size: 18px;
    line-height: 1.4;
    color: white;
    background-color: #0E1014;
    margin: 0;
    overflow-x: hidden;
}

.page{
  font-size: 20px;
}

.headv {
    width: 100%;
    height: 100vh;
    }
  
    video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: all 2.5s ease;
    }
  
    .text-container {
      width: 100%;
      display: block;
      position: relative;
      bottom: 550px;
      
    }
  
    .title {
    position: relative;
    color: white;
    text-align: center;
    display: block;
    max-width: 900px;
    margin: 0 auto;
    }
  
    .lph1{
      font-family: "larken";  
      font-weight:900;
      font-size: 56px;
      line-height: 1;
      margin: 0;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .lph2 {
        font-family: "larken";  
        font-weight:400;
        font-size: 32px;
        line-height: 1;
        margin: 0;
        color: #73AAF1;
      }
      .pgh2 {
        font-family: "larken";  
        font-weight:400;
        font-size: 28px;
        line-height: 1;
        margin: 0;
        color: #73AAF1;
      }
  
    .paragrande {
      
      font-size: 26px;
      line-height: 36px;
      margin: 20px 20px 40px 20px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .lpp{
        font-size: 18px;
        line-height: 25px;
    }

    .para{
      font-size: 20px;
    }
    .uppercase{
        text-transform: uppercase;
      }

      img{ 
        max-width: 100%;
       
    }
   
    .img-tel{
        max-width: 45%;
        
    }
   
    .img-ph02{
      max-width: 53%;
      
    }
    figcaption{
        font-family:'titillium-web';
        font-size: 10px;
        margin-top: 10px;
      }
      
    .gridv {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      row-gap: 30px;
      
      
  }
  .gridv > *{
    grid-column: 1/-1;
  
  }
  .mgrid-start01{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 40px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 40px;
    margin-top: 40px;

    &.grid--bg{
     background-color: #2E3441;  
      padding-top: 40px;
      padding-bottom: 40px;

      &.grid--bg .lph2{
        color: white;
      }
    }
}
.grid > *{
    grid-column: 1/-1;

}

 .next {
    position: relative;
    display: block;
    padding: 1em 3em 1em 1em;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    box-shadow: inset  0 0 0.1em white;
    width: 130px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.next:hover{
    background-color: #73AAF1;
}
  .next:after, .next:before {
    content: "";
    display: block;
    position: absolute;
    transition: transform 0.5s ease-in-out;
 }
  .next:before {
    top: 50%;
    right: 2.5em;
    width: 1em;
    height: 1em;
    transform-origin: 50% 50%;
    transform: translate(0, -0.5em) rotate(45deg);
    box-shadow: inset -0.2em 0.2em 0 0 white;
    border-radius: 0 0.15em 0 0;
 }
  .next:after {
    top: 50%;
    right: 2.5em;
    width: 2em;
    height: 0.2em;
    transform: translate(0, -0.1em);
    background-color: white;
 }
  .next:hover:before {
    transform: translate(0.5em, -0.5em) rotate(45deg);
 }
  .next:hover:after {
    transform: translate(0.5em, -0.1em);
    
 }

 footer{
    position: relative;
    width: 100%;
    background: #2E3441;
    min-height: 25px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;

}

.footer__small{
  margin-top: 50px;
}

footer .media_logo, footer .extra, footer p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 1px;
}
footer .media_logo li, footer .extra li{
    list-style: none;
}
footer .media_logo li a{
    font-size: 2rem;
    color: white;
    margin: 0 20px;
    display: inline-block;
    transition: 0.5s;
    
}
footer .media_logo li a:hover{
    transform: translateY(-10px);
}
footer .extra li a{
    font-size: 1rem;
    color: white;
    margin: 0 20px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    
}
footer .extra li a:hover{
    opacity: 1;
}
 footer p {
    color: white;
    text-align: center;
    font-size: 0.8em ;
    padding-top: 10px;
}
.imgdwt{
  width: 50px;
  height: 30px;
  fill: white;
}

// Start of normal pages

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  display: flex;
  width: 160px;
}

.logo a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  text-align: center;
  font-family: "larken";
  font-size: 20px;
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "titillium-web";
  
}

.nav-links {
  position: absolute;
  transform: translate(-5%, -5%);
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  color: #ffffff;
  display: block;
  position: relative;
  display: flex;
  padding: 0 0 0 0;
  list-style: none;
}
.nav-links .text {
  position: relative;
  color: #fff;
  font-weight:500;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
 
}
.nav-links .text::before, .nav-links .text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #73AAF1;
  transform-origin: right;
  transition: transform 400ms ease;
  z-index: -1;
  transform: scaleX(0);
}
.nav-links .text:hover::before, .nav-links .text:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.nav-links .text::after {
  z-index: -2;
  filter: blur(30px);
}
.nav-links .text__active {
    text-decoration: none; 
    border-bottom: 1px solid white; 
}
.nav-links .text__active:hover {
  color: #fff;
}

a {
  color: #fff;
  font-size: 1.5rem;
  transition: all 400ms ease;

  &.linkws{
    font-size: 20px;
    text-decoration: none;
    color:#73AAF1;
  }
  &.linkws:hover{
    color: white;
  }
}

a:hover {
  color: #73AAF1;
}

.scroll {
  overflow-y: hidden;
}

.burgerm {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 0;
  background-color: transparent;
  border: none;
  max-width: 35px;
}

.js-theme-trigger {
  border: none;
  width: 40px;
  height: 40px;
  background: #2E3441;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 20;
  color: var(--color-text);
}

.contrast-outline {
  width: 80px;
  height: 80px;
}

.iconzero {
  font-size: 0;
}

.burgerm span {
  background-color: white;
  width: 25px;
  height: 2px;
  margin: 3px;
  transition: all 0.3s ease;
  display: inline-block;
}
.list{
  font-size: 16px;
}
.ulist{
  list-style: decimal;
  padding: 0px;
}
.ulist li {
    margin: 30px;
}

//swiper

.swiper {
  padding-bottom: 60px !important;
  height: 600px;
  margin-left: 25px !important;
  margin-right: 25px !important;
  
  img{
    &:hover{
      transform: none;
    }
  }
  @media(max-width:390px)
  {
    height: 400px !important;
    
  }
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide {
    border-radius: 5px;
    height: 400px !important;
    background-color: #000;
    border: 1px solid #fff;
    transition: 0.2s;
    
    @media(max-width:390px){
      height: 300px;
      width: 200px !important;

    }
    &.active {
      height: 600px !important;
      width: 440px;
      @media(max-width:390px){
        height: 450px;
        width: 100px !important;
      }
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .prev,
  .nextsl {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.65;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    svg path {
      fill: #fff;
    }
  }
  .prev {
    left: 25px;
  }
  .nextsl {
    right: 25px;
  }
  .pagination {
    margin-left: 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    z-index: 100;
    span {
      font-size: 0;
      opacity: 1;
      margin: 0px 6px !important;
      border: 1px solid #fff;
      &.swiper-pagination-bullet-active {
        background-color: transparent;
        transform: scale(1.5);
      }
    }
  }
}
//to be continued scroll 
.cycle{
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 300px;
}
.innercycle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: radial-gradient(circle, rgba(14, 16, 20, 0) 0%, rgb(14, 16, 20) 100%);
}


.animation-text-scroll {
  animation: text-scroll 600s linear infinite;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 140px;
  color: transparent; -webkit-text-stroke: 1px rgb(255, 255, 255);
}

@keyframes text-scroll{
  
  0% {
      transform: translate(0);
  }
  100% {
      transform: translate(-100%);
  }
  }

//changekeyframeimg

.sliderImg{
  width: 100%;
  height: 600px;
  background-image: url('image/karminetel.png');
  background-size: 100% 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: changeImage 25s linear infinite;
}
// anim module

.psylv{
  color: white;
}
.boxchat {
  background-color: white;
  width: 100%;
  height: 830px;
}

.boxaccount {
  background-color: #0E1014;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 10px; 
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.imgavatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.pmod {
  color: black;
  font-size: 20px;
  padding: 10px;
}

.message1 {
  background-color: #D6DADC;
  //width: 309px;
  height: 273px;
  border-radius: 5%;
  img {
    width: 230px;
    height: 130px;
    margin-left: 20px;
    
  }
}

.message2 {
  background-color: #D1E3EB;
  border-radius: 5%;
  //width: 309px;
  height: 130px;
  img {
    width: 256px;
    height: 138px;
  }
}

.firstmsg {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
 // margin-left: 100px;
}

.secondmsg {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  flex-direction: row-reverse;
}

.messagesender {
  background-color: #0E1014;
  border-radius: 45px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 150px;
  height: 45px;
  //margin-left: 110.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

  p {
    font-size: 16px;
  }
  .mic-outline {
    width: 11px;
    height: 15px;
  }
}
.imgicon{
 
  color: white;
  margin-left: 30px;

  &.imgicon--move{
    margin-left: 0px
  }
}


.anim-first,
.anim-second,
.anim-third,
.anim-fourth {
  opacity: 0;
}

@keyframes changeImage{
  0%{
      background-image: url("image/karminetel.png") ;
  }
  15%{
      background-image: url("image/karminetel.png") ;
  }
  25%{
      background-image: url("image/titilliumwebtel.png") ;
  }
  35%{
      background-image: url("image/titilliumwebtel.png") ;
  }
  50%{
      background-image: url("image/colorblindtel.png") ;
  }
  65%{
      background-image: url("image/colorblindtel.png") ;
  }
  75%{
      background-image: url("image/larkentel.png") ;
  }
  85%{
      background-image: url("image/larkentel.png") ;
  }
  95%{
      background-image: url("image/colorwsftel.png") ;
  }
  100%{
      background-image: url("image/colorwsftel.png") ;
  }
}
@media (min-width: 720px){
  .sliderImg{
    background-image: url('image/karmine.png');
  
  }
  @keyframes changeImage{
    0%{
        background-image: url("image/karmine.png") ;
    }
    15%{
        background-image: url("image/karmine.png") ;
    }
    25%{
        background-image: url("image/titilliumweb.png") ;
    }
    35%{
        background-image: url("image/titilliumweb.png") ;
    }
    50%{
        background-image: url("image/colorblind.png") ;
    }
    65%{
        background-image: url("image/colorblind.png") ;
    }
    75%{
        background-image: url("image/larken.png") ;
    }
    85%{
        background-image: url("image/larken.png") ;
    }
    90%{
        background-image: url("image/colorwsf.png") ;
    }
    100%{
        background-image: url("image/colorwsf.png") ;
    }
  }

  

}
@media all and (max-width: 991px) {
  .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    top: 80px;
    background-color: #2E3441;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    overflow: hidden;
    z-index: 21;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }
}

  @media (min-width:992px){
    
    a{
      &.linkws{
        font-size: 24px;
      }
    }
    .burgerm {
      display: none;
    }
    
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 50px;
        margin:0 auto;
        margin-top:100px;

        &.grid--bg{  
             padding-top: 100px;
             padding-bottom: 100px;

           }
       
    }
    .grid> *{
        grid-column: 1/-1;
    
    }
    .dgrid-startdalto{
        grid-column-start: 2;
        grid-column-end: 6;
        
    }
    .dgrid-startdalto02{
        grid-column-start: 5;
        grid-column-end: 7;
        
        grid-row-start: 2;
    }
    .dgrid-startdalto03{
        grid-column-start: 5;
        grid-column-end: 7;
        
        grid-row-start: 3;
    }
    .dgrid-startdalto04{
        grid-column-start: 2;
        grid-column-end: 6;
        
    }
    // Section inter

    .dgrid-startint{
        grid-column-start: 2;
        grid-column-end: 7;
        
    }
    .dgrid-startint02{
        grid-column-start: 4;
        grid-column-end: 7;
        
        grid-row-start: 3;
    }
    .dgrid-startint03{
        grid-column-start: 4;
        grid-column-end: 7;
        
        grid-row-start: 4;
    }
    .dgrid-startint04{
        grid-column-start: 2;
        grid-column-end: 4;
        
        grid-row-start: 3;
    }
    // Section hypo

    .dgrid-starthypo01{
        grid-column-start: 2;
        grid-column-end: 8;
        
        grid-row-start: 1;
    }
    .dgrid-starthypo02{
        grid-column-start: 2;
        grid-column-end: 5;
        
        grid-row-start: 2;
    }
    .dgrid-starthypo03{
        grid-column-start: 2;
        grid-column-end: 5;
        
        grid-row-start: 3;
    }
    .dgrid-starthypo04{
        grid-column-start: 5;
        grid-column-end: 7;
        
        grid-row-start: 4;
    }
    // Section concl
    .dgrid-startconcl02 {
        grid-column-start: 2;
        grid-column-end: 5;
        
        grid-row-start: 2;
    }
    .dgrid-startconcl03 {
        grid-column-start: 2;
        grid-column-end: 7;
        
        grid-row-start: 3;
    }
    .dgrid-startconcl04 {
        grid-column-start: 5;
        grid-column-end: 8;
        
        grid-row-start: 2;
    }
    .dgrid-startmod02{
      grid-column-start: 2;
      grid-column-end: 4;
      
      grid-row-start: 2;
  }
  // extra cond for pages
    .dgrid-startconcl01{
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 1;
    }
    .dgrid-startintro03{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 3;
    }
    .dgrid-startintro04{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 3;

    }
    .dgrid-startinter02{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 2;
    }
    .dgrid-startinter03{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 4;
    }
    .dgrid-starthypoth{
      grid-column-start: 2;
      grid-column-end: 4; 
     
    }
    .dgrid-starthypoth02{
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 2;
    }
    .dgrid-starthypoth03{
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 3;
    }
    .dgrid-starthypoth04{
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 4;
    }
    .dgrid-starthypoth05{
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 5;
    }
    .dgrid-starthypoth06{
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 6;
    }
    .dgrid-starthypoth0702{
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 7;
    }
    .dgrid-starthypoth0703{
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 7;
    }
    .dgrid-starthypoth0704{
      grid-column-start: 4;
      grid-column-end: 4;
      grid-row-start: 7;
    }
    .dgrid-startmod02{
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 1;
    }
    .dgrid-startprse02{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 2;
    }
    .dgrid-startprse03{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 3;
    }
    .dgrid-startprse04{
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 3;
    }
    .dgrid-startprse05{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 4;
    }
    .dgrid-startprse06{
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 4;
    }
    .dgrid-startprse07{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 5;
    }
    .dgrid-startprse08{
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 5;
    }
    .dgrid-startprse09{
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 6;
    }
    .dgrid-startsew01{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 1;
    }
    .dgrid-startsew02{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 2;
    }
    .dgrid-startsew03{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 3;
    }
    .dgrid-startsew04{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 4;
    }
    .dgrid-startsew05{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 5;
    }
    .dgrid-startsew06{
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 6;
    }
    .dgrid-startadn01{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 1;
    }
    .dgrid-startadn02{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 2;
    }
    .dgrid-startadn03{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 3;
    }
    .dgrid-startadn04{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 4;
    }
    .dgrid-startadn05{
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 5;
    }
    .dgrid-startcred01{
      grid-column-start: 2;
    }
    .dgrid-startcred02{
      grid-column-start: 3;
      grid-column-end: 6;
    }
    .dgrid-startgsap04{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 3;
    }

    .text-container {
        bottom: 600px;
        
      }
      .lph1{
        font-size: 93px;
    }
    .lph2{
        font-size: 70px;
    }
    .pgh2{
      font-size: 50px;
    }
    .lpp{
        font-size: 20px;
        line-height: 28px;
    }
    .paragrande{
        font-size: 56px;
        line-height: 78px;
    }
    .para{
      font-size: 31px;
      line-height: 1.4;
    }
    
    figcaption{
        font-size: 15px;
      }
      figure{
        display: flex;
        flex-direction: column;
      }
    .imglp{
        width: 100%;
      }
      .grid--page{
        width: 90%;
        margin-top: 200px;
        margin-bottom: 200px;

         
      }
      .grid--gap{
        row-gap: 100px;
      }  
  }
  @media ( min-width: 1200px){
    img{ 
      max-width: 500px;
  }

  }
  @media (min-width: 1400px) {
    .nav-links {
      padding: 0 0 0 0;
      font-size: 18px;
      letter-spacing: 2px;
    }
    .nav-links .text {
      padding: 10px 15px;
    }
    figure .img-cont {
      width: 500px;
      height:320px;
      overflow: hidden;
      cursor: pointer;
      
      &.img-cont--hless{
        height: 280px;
      }
      &.img-cont--hlesser{
        height: 250px;
      }
      &.img-cont--tiny{
        width: 203px;
        height: 203px;
      }
      &.img-cont--wless{
        width: 350px;
        height: 230px;
      }
    }
    
    img {
        width: 100%;
        transition: all 0.2s ease;
      }
    
    img:hover {
          transform: scale(1.2);
        }
    img.no-scale{
           transition: none;
        }
        img.no-scale:hover {
          transform: none;
        }    
    .dgrid-startgsap04{
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 3;
      }    
  }
  @media (min-width:1500px){
    .nav-links {
      letter-spacing: 3px;
    }
    .nav-links .text {
      padding: 15px 20px;
    }
    .text-container {
        bottom: 700px;  
      }
      .logo a {
        font-size: 30px;
      }
      .dgrid-startmod01{
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 1;
      }
      .dgrid-startmod02{
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
      }
  }
  @media (min-width:1600px){
    .dgrid-startdalto{
        grid-column-start: 2;
        grid-column-end: 5;
        
    }
    .dgrid-startdalto02{
        grid-column-start: 4;
        grid-column-end: 6;
        
        grid-row-start: 2;
    }
    .dgrid-startdalto03{
        grid-column-start: 4;
        grid-column-end: 6;
        
        grid-row-start: 3;
    }
    .dgrid-startdalto04{
        grid-column-start: 2;
        grid-column-end: 6;
        
    }
    .dgrid-starthypo01{
      grid-column-start: 3;
     ;
  }
  .dgrid-startconcl01{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
  }
  .dgrid-startinter02{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
  }
  .dgrid-startinter03{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
  }

  }
  @media (min-width:1800px){
    figure .img-cont {
    
      &.img-cont--wless{
        width: 500px;
        height: 320px;
      }
    }
  }

  @media (min-width:2000px){
    .text-container {
        bottom: 800px;
        
      }
  }
